@import "~ed-grid";
@import "~edteam-style-guides/edteam-style-guides";

html{
    box-sizing: border-box;
    font-size: 16px;
    font-family: sans-serif;
  }
  
  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }

.button{
  margin: 8px;
}

input{
  height: 30px;
  padding: 5px 5px;
  border-radius: 10px;
  border-style: solid 1px grey;
}

#container{
  width: 960px;
  margin: 16px auto;
  text-align: left;
}

/* 
Por el momento removimos el borde
border: 1px solid cornsilk; 
*/
#cabecera{
  padding: 16px;
  color: cornsilk;
  background-color: cadetblue;
}

#menuNavigation{
  margin: 8px;
  padding: 8px;
  color: cornsilk;
  background-color: cadetblue;
}

#menuNavigation li {
  display: inline-block;
  list-style: none;
  margin: 8px;
  font: bold 14px verdana;
}

#menuNavigation a{
  text-decoration: none;
}

#section{
  float: left;
  width: 660px;
  margin: 24px;
}



article footer{
  text-align: right;
}

#columna{
  float: left;
  width: 220px;
  margin: 16px 0px;
  padding: 16px;
  color: white;
  background-color: gray;
}

#pie{
  clear: both;
  text-align: center;
  padding: 16px;
  border-top: 2px solid gray;
}

input{
  height: 30px;
  padding: 5px 5px;
  border-radius: 10px;
  border-style: solid 1px grey;
}

#registerButton{
  text-align: center;
}

#errorMessage{
  color: red;
  font-size: 110 !important;
}